.about-card {
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    align-items: center;

    .icon {
        flex-grow: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;

        h5 {
            font-size: 20px;
            color: $green02;
        }

        p {
            color: $gray01;
        }
    }
}