//variables
$green01 : #22C55E;
$green02 : #121212;
$light : #fff;

//styles globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

//mixins =>
//container
@mixin container {
    padding-left: 8%;
    padding-right: 8%;
}