.landing__about {
    width: 100%;
    overflow: hidden;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    align-items: center;
    @include container;

    .about-header h2 {
        color: $green02;
        font-weight: 600;
    }
}