.landing-features {
    width: 100%;
    overflow: hidden;
    margin-top: 15vh;
    @include container;


    @include screen(medium) {
        margin-top: 4rem;
    }

    .features-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;

        @include screen(medium) {
            gap: 2rem;
        }

        .title h2 {
            color: $green02;
            font-weight: 600;
        }

        .features-points {
            display: flex;
            flex-direction: column;
            gap: 3vh;
        }
    }

    .features-image {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            object-fit: cover;

            @include screen(small) {
                width: 100%;
            }

            @include screen(medium) {
                width: 100%;
            }
        }
    }
}