.landing-features {
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;
    @include container;

    .features-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title h2 {
            color: $green02;
            font-weight: 600;
        }

        .features-points {
            display: flex;
            flex-direction: column;
        }
    }
}