.landing__hero {
    width: 100%;
    overflow: hidden;
    margin-top: 4.5rem;
    background-color: $green01;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16vh;
        gap: 4vh;

        @include screen(medium) {
            gap: 2rem;
        }

        @include screen(small) {
            @include container;
        }

        h1 {
            font-size: 46px;
            font-weight: 700;
            color: $green02;
            text-align: center;

            @include screen(medium) {
                font-size: 40px;
            }

            @include screen(small) {
                font-size: 33px;
            }
        }

        p {
            color: $green03;
            width: 482px;
            text-align: center;

            @include screen(small) {
                width: 100%;
            }
        }

        .buttons {
            display: flex;
            gap: 24px;

            .btn {
                padding: 10px 16px;
                font-weight: 600;
                font-size: 14px !important;
                color: $green02;

                &:first-child {
                    background-color: $light;
                    border-radius: $radius01;
                }

                &:last-child {
                    border: 1px solid $green02;
                    border-radius: $radius01;
                    display: flex;
                    gap: 8px;
                }

                img {
                    width: 19px;
                }
            }
        }
    }

    .footer-img {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: -5vh;

        @include screen(medium) {
            margin-top: -1rem;
        }

        @include screen(small) {
            margin-top: 3rem;
        }

        img {
            width: 100%;
            object-fit: cover;

            @include screen(small) {
                object-fit: contain;
            }
        }
    }
}