.landing-features {
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;
    @include container;

    .features-content {
        .title h2 {
            color: $green02;
            font-weight: 600;
        }
    }
}